__pycache__
frozen_inference_graph.pb
frozen_inference_graph - Copy.pb
bbox-test-ClassifyImageNetClassesWithMobileNetVselectable.py
object_detection.ipynb
rjk-2FPSwithDefaults-tfHubObject_detection.ipynb
pretrained_models